<template name="core.index">

    <h2>I am...</h2>
    <form>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group adaptive-field-wrapper">
                    <label for="subscriptionFirstName">First Name</label>
                    <input class="form-control input-lg" type="text" name="firstName" id="subscriptionFirstName" placeholder="First Name" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group adaptive-field-wrapper">
                    <label for="subscriptionLastName">Last Name</label>
                    <input class="form-control input-lg" type="text" name="firstName" id="subscriptionLastName" placeholder="Last Name" />
                </div>
            </div>
        </div>
        <div class="form-group adaptive-field-wrapper">
            <label for="subscriptionEmail">Your Email</label>
            <input class="form-control txt-email input-lg" type="email" name="email" id="subscriptionEmail" placeholder="Your email address" />
        </div>
    </form>
    <h2>And I Am Interested In...</h2>



</template>