.core-index-container
{
    .jobs-container
    {
        .job
        {
            background: #fff;
            padding: 20px;
            @include box-shadow;
            cursor:pointer;
            @include doTransition();

            &:hover
            {
                @include box-shadow(4px, 4px, 10px, rgba(0, 0, 0, 0.5));
            }

            &.selected
            {
                background-color: #e0fae0;
            }
        }
    }
}