<template name="login">
    <div class="container">
        <section class="main-section">
            <div class="row">
                <div class="col-md-offset-3 col-md-6 top50">
                    <form class="adaptive-field-wrapper" id="accessForm">
                        <div class="form-group">
                            <label for="loginPassword">Password</label>
                            <div class="input-group">
                                <input name="loginPassword" placeholder="Password" id="loginPassword" type="password" class="input-lg form-control"/>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary btn-lg">Enter</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</template>