.right5
{
    margin-right:5px !important;
}
.right10
{
    margin-right:10px !important;
}
.right15
{
    margin-right:15px !important;
}
.top30
{
    margin-top:30px !important;
}
.top50
{
    margin-top:50px !important;
}