h1
{
    font-size:24px;
    margin:0 0 15px 0;
    line-height:1.6em;
}

h2
{
    font-size:26px;
    margin:0 0 15px 0;
    font-weight:bold;
    display:inline-block;
    border-bottom:1px solid #aaa;
    padding-bottom:1px;
}